@font-face {
    font-family: 'Spotify Mix';
    src: local('Spotify Mix'), local('SpotifyMix-Regular'),
        url('/font/SpotifyMix-Regular.woff2') format('woff2'),
        url('/font/SpotifyMix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Light Italic'), local('/font/SpotifyMix-LightItalic'),
        url('/font/SpotifyMix-LightItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Extrabold Italic'), local('/font/SpotifyMix-ExtraboldItalic'),
        url('/font/SpotifyMix-ExtraboldItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Extrabold'), local('/font/SpotifyMix-Extrabold'),
        url('/font/SpotifyMix-Extrabold.woff2') format('woff2'),
        url('/font/SpotifyMix-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Light'), local('/font/SpotifyMix-Light'),
        url('/font/SpotifyMix-Light.woff2') format('woff2'),
        url('/font/SpotifyMix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Black Italic'), local('/font/SpotifyMix-BlackItalic'),
        url('/font/SpotifyMix-BlackItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Regular Italic'), local('/font/SpotifyMix-RegularItalic'),
        url('/font/SpotifyMix-RegularItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Bold Italic'), local('/font/SpotifyMix-BoldItalic'),
        url('/font/SpotifyMix-BoldItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Medium Italic'), local('/font/SpotifyMix-MediumItalic'),
        url('/font/SpotifyMix-MediumItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Black'), local('/font/SpotifyMix-Black'),
        url('/font/SpotifyMix-Black.woff2') format('woff2'),
        url('/font/SpotifyMix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Medium'), local('/font/SpotifyMix-Medium'),
        url('/font/SpotifyMix-Medium.woff2') format('woff2'),
        url('/font/SpotifyMix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Bold'), local('/font/SpotifyMix-Bold'),
        url('/font/SpotifyMix-Bold.woff2') format('woff2'),
        url('/font/SpotifyMix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Thin Italic'), local('/font/SpotifyMix-ThinItalic'),
        url('/font/SpotifyMix-ThinItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix Ultra';
    src: local('/font/Spotify Mix Ultra Italic'), local('/font/SpotifyMix-UltraItalic'),
        url('/font/SpotifyMix-UltraItalic.woff2') format('woff2'),
        url('/font/SpotifyMix-UltraItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Thin'), local('/font/SpotifyMix-Thin'),
        url('/font/SpotifyMix-Thin.woff2') format('woff2'),
        url('/font/SpotifyMix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: local('/font/Spotify Mix Ultra'), local('/font/SpotifyMix-Ultra'),
        url('/font/SpotifyMix-Ultra.woff2') format('woff2'),
        url('/font/SpotifyMix-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root{
  font-family: 'Spotify Mix';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spotifyMix{
  font-family: 'Spotify Mix';
  font-weight: 100;
}

.spotifyMixUltra{
  font-family: 'Spotify Mix';
  font-weight: 900;
}