@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.bgGrad{
  background-image: linear-gradient(40deg, rgb(50,50,50) 0%, rgb(175,175,175) 60%, rgb(240, 90, 190) 66%, rgb(250, 250, 250) 70%);
}
.backGround{
  background-color: #030205;
  background-image: url("/background.svg");
  background-size: cover;
}

.headers{
  filter: drop-shadow(-1px 0px 2px rgba(0,0,0,0.75)) drop-shadow(2.25px -1px 2px rgba(0,0,0,0.75));
  background: url("/headerBackground.svg");
  background-clip: text;
  background-size: 330%;
  color: transparent;
  transition: all;
  font-size: 2.5rem;
}

.playlistBG{
  background: linear-gradient(var(--bg-angle) in oklab, oklch(44.8% 0.119 151.328 / 0.75) 0%, oklch(84.1% 0.238 128.85 / 0.75) 35%,  oklch(90.6% 0.031 120.757 / 0.75));
  animation: backgroundAnimation 30s infinite linear running;
}

.btn{
  width: fit;
  height: fit;
  background: linear-gradient(var(--bg-angle) in oklab, oklch(44.8% 0.119 151.328 / 0.75) 0%, oklch(84.1% 0.238 128.85 / 0.75) 35%,  oklch(90.6% 0.031 120.757 / 0.75));
  background-clip: border-box;
  margin: 0 20px;
}

.playlistItem{
  display: flex;
  justify-self: center;
  justify-content: space-between;
  white-space: nowrap;
  width: 95%;
  margin-left: 2.5%;
  background:rgb(225,255, 215);
  border-radius:10px;
  border: 3px solid  oklch(44.8% 0.119 151.328 / 0.75);
}
.playlistItem:hover{
  scale:1.05;
  box-shadow: -1px -1px 6px 2px rgba(0,0,0,0.5);
}
.playlistCheck{
  width:3.5%;
  margin-right:0.5%;
}
.playlistNum{
  width: 2.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.playlistSongArtist{
  width: 58%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: 700;
  font-size: 0.95em;
}
.playlistDuration{
  width: 13.5%;
  font-size: 0.6em;
  margin-right: 0.5%;
  margin-left: 0.5%;
  align-self: center;
}
.playlistImg{
  width: 12.5%;
  min-width: 50px;
  height: auto;
  margin-left: 0.5%;
  border-radius: 8px;
}
/* .playlistImg:hover > .playlistItem{
  position: relative;
} */
.playlistImg:hover{
  /* position: absolute;
  right: 10px;
  top:0; */
  scale: 1.1;
}
@keyframes backgroundAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-moz-keyframes backgroundAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-webkit-keyframes backgroundAnimation {
  to {
    --bg-angle: 360deg;
  }
}