@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030205;
  --shadow-big:  4px 4px 4px 4px #030205, 4px -4px 4px 4px #030205, -4px 4px 4px 4px #030205 , -4px -4px 4px 4px #030205;
  --my-shadow: drop-shadow(0 2px 2px #1DB954) drop-shadow(0 -2px 2px #1DB954) drop-shadow(2px 0 2px #1DB954) drop-shadow(-2px 0 2px #1ED760);
  --current-shadow: drop-shadow(0 2px 4px #1ED760) drop-shadow(0 -2px 2px #1DB954) drop-shadow(2px 0 4px #1ED760) drop-shadow(-2px 0 2px #1DB954);
}

html{
  height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}


.headers{
  text-shadow: var(--my-shadow);
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #030205;
    background-color: rgba(255, 255, 255, 0.87);
  }
}